In [1]:
import pandas

In [2]:
hdb_property_information = pandas.read_csv('./hdb-property-information.csv')

In [3]:
hdb_property_information.head()

,blk_no,street,max_floor_lvl,year_completed,residential,commercial,market_hawker,miscellaneous,multistorey_carpark,precinct_pavilion,...,3room_sold,4room_sold,5room_sold,exec_sold,multigen_sold,studio_apartment_sold,1room_rental,2room_rental,3room_rental,other_room_rental
0,60,SENG POH LANE,1,1937,N,Y,N,N,N,N,...,0,0,0,0,0,0,0,0,0,0
1,61,SENG POH LANE,1,1937,N,Y,N,N,N,N,...,0,0,0,0,0,0,0,0,0,0
2,62,SENG POH LANE,1,1937,N,Y,N,N,N,N,...,0,0,0,0,0,0,0,0,0,0
3,63,SENG POH LANE,1,1937,N,Y,N,N,N,N,...,0,0,0,0,0,0,0,0,0,0
4,67,SENG POH LANE,1,1937,N,Y,N,N,N,N,...,0,0,0,0,0,0,0,0,0,0

In [5]:
hdb_property_information['bldg_contract_town']

0         BM
1         BM
2         BM
3         BM
4         BM
5         BM
6         BM
7         BM
8         BM
9         BM
10        QT
11        QT
12        BM
13        BM
14        BM
15        BM
16        GL
17        QT
18        QT
19        GL
20        GL
21        GL
22        GL
23        BM
24        BM
25        BM
26        BM
27        BM
28        QT
29        QT
        ...
12006    KWN
12007    KWN
12008    CCK
12009     QT
12010     BP
12011     JW
12012     JW
12013     JW
12014     JW
12015     BP
12016    AMK
12017    PRC
12018    TAP
12019     PG
12020     BB
12021     JW
12022     JW
12023     JW
12024     WL
12025     HG
12026    CCK
12027    TAP
12028     BM
12029     BD
12030    KWN
12031     YS
12032    CCK
12033     BP
12034     PG
12035    TAP
Name: bldg_contract_town, Length: 12036, dtype: object

In [12]:
def get_median_year(towns):
    for town in towns:
        current_town = hdb_property_information.loc[hdb_property_information['bldg_contract_town'] == town]
        print(town, current_town.median())